<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionStr" value="data source=localhost;initial catalog=ClassInfoDB;User ID=sa;Password=sa;Connect Timeout=3000"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
